body {
  background-color: black;
}

#header-jumbotron {
  background-image: url(assets/images/road.jpg);
  color: white;
  position: relative;
}

.profile-pic {
  z-index: 1;
  position: relative;
  width: 150px;
  height: auto;
}

.centered-element {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.other-centered-element {
  /* height: 100px;
    width: 100px; */
  position: absolute;
  left: 50%;
  margin-left: -90px;
  top: 50%;
  /* margin-top: -50px; */
}

#about {
  z-index: 0;
  background-image: linear-gradient(to right, #fa5b2f, yellow);
  position: relative;
  margin-top: -30px;
  /* display: block; */
  font-size: larger;
  /* white-space: pre; */
}

.section2 {
  background-color: black;
  /* margin-top: -15px; */
  /* display: flex; */
  /* flex-direction: row; */
  position: absolute;
  z-index: 0;
}

.project-title {
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
  font-weight: bold;
}

.project-pics {
  position: relative;
  z-index: 2;
  margin-top: -30px;
  height: 400px;
  width: auto;
  /* overflow: hidden; */

}

.project-details {
  display: inline;
}

/* body {
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
} */

#demo {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.green {
  background-color: #6fb936;
}
.thumb {
  margin-bottom: 30px;
}


img.zoom {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}


.details {
  color: white;
  margin-left: 40px;
  margin-right: 80px;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  /* margin: 30px; */
}

.details-img {
  height: 500px;
  width: auto;
}

#details-page {
  color: white;
  margin: 30px;
}

#details-page img {
  height: 500px;
}

#details-page p {
  font-size: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
}

.modal-img {
  height: 400px;
  width: auto;
}

.modal p {
  margin-left: 20px;
}

.close {
  
  color: #fadfdf;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}