.profile-pic {
    z-index: 1;
    position: relative;
    width: 150px;
    height: auto;
    float: right;
}

body {
    background-color: black;    
}

.content {
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

.project-description {
    color: white;
}

.mobile_project_images {
    height: 500px;
}

.web_project_images {
    height: auto;
    width: 100%;
    padding: 10px;
}

.other_project_images {
    width: 400px;
    height: auto;
}

.jumbotron {
    background-image: url("assets/images/road.jpg");
}

.nav-tabs .nav-item .nav-link {
    color: white;
}

.nav-tabs .nav-item .nav-link.active {
    color: black;
  }